doctype
html
  head
    title Ancient War
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tabs.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=MedievalSharp')
    link(rel='shortcut icon', href='/favicon.png' type='image/x-icon')
    meta(name=viewport, content='width=device-width, initial-scale=1')
    script(src="/scripts/tabs.js")
    script. 
      window.addEventListener("load", function() {
          makeTabs(".tabs")
      });
  body
    h1(id='intro') ⚔ Welcome to Ancient War ⚔
    div(id='gameWrap')
      div(id='leftWrap') 
        table(id='history')
          each action, i in history
            tr
              td(class='author')= action.author + ':'
              td(class='description')= action.description
        div(id='inputContainer')
          form(action='do', method='post', enctype='application/json')
            input(id='actionInput', type='text', name='input', autofocus='autofocus', autocomplete='off')
      div(id='rightWrap')
        div(class='tabs')
          ul
            li
              a(href='#commandsTab', class='active') Commands
            li
              a(href='#statsTab') Stats
            li
              a(href='#abilitiesTab') Abilities
            li
              a(href='#inventoryTab') Inventory
          div(id='commandsTab')
            h3 Lobby Commands
            p Journey (J): Go out into the wilderness.
            p Shop (S): Go to the shop.
            h3 Battle Commands
            p Attack (A): Use your weapon to attack the enemy.
            p Magic (M): Use a magical spell or ability.
            p Item (I): Use an item from your inventory.
          div(id='statsTab')
            p Hitpoints: #{user.hp} / #{user.maxhp}
            p Mana: #{user.mp} / #{user.maxmp}
            p Attack: #{user.attack}
            p Defense: #{user.defense}
            p Magic Attack: #{user.magicAttack}
            p Magic Defense: #{user.magicDefense}
            p Speed: #{user.speed}
            p Charisma: #{user.charisma}
            p Luck #{user.luck}
          div(id='abilitiesTab')
            each skill, i in user.skills
              p #{user.skills[i].name}
          div(id='inventoryTab')
            h3 Items:
            each item, i in user.items
              p #{user.items[i].name}
            h3 Equipped Weapons:
            each item, i in user.weapons
              p #{user.weapons[i].name}
            h3 Equipped Armor:
            each item, i in user.armor
              p #{user.armor[i].name}
            
            