doctype
html
  head
    title Ancient War
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=MedievalSharp')
  body
    h1(id='intro') Welcome to Ancient War.
    div(id='historyContainer') 
      table(id='history')
        each action, i in history
          tr
            if action.author == 'Server'
              td(class='sauthor')= action.author + ':'
            else
              td(class='author')= action.author + ':'
            td(class='description')= action.description
    div(id='inputContainer')
      form(action='do', method='post', enctype='application/json')
          input(id='actionField', type='text', name='input', autofocus='autofocus', autocomplete='off')
    div(id='statsContainer')
      table(id='stats')
        tr
          td 'Hitpoints: ' #{user.hp}
          td 'Mana: ' #{user.mana}
          td 'Speed: ' #{user.speed}
        tr
          td 'Attack: ' #{user.attack}
          td 'Magic Attack: ' #{user.magicAttack}
          td 'Charisma: ' #{user.charisma}
        tr 
          td 'Defense: ' #{user.defense}
          td 'Magic Defense: ' #{user.magicDefense}
          td 'Luck: ' #{user.luck}
            
          
